<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">


	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

  <jaxws:endpoint
	  id="shippingService"
	  implementor="at.ac.tuwien.infosys.aic.soap.ShippingServiceImpl"
	  address="/Shipping" />

  <jaxws:endpoint
	  id="supplierService1"
	  implementor="at.ac.tuwien.infosys.aic.soap.SupplierImpl"
	  address="/Supplier1" />

  <jaxws:endpoint
	  id="supplierService2"
	  implementor="at.ac.tuwien.infosys.aic.soap.SupplierImpl"
	  address="/Supplier2" />

  <jaxws:endpoint
	  id="warehouseService"
	  implementor="at.ac.tuwien.infosys.aic.soap.WarehouseServiceImpl"
	  address="/Warehouse" />

  <jaxws:endpoint
	  id="customerManagementService"
	  implementor="at.ac.tuwien.infosys.aic.soap.CustomerManagementServiceWrapperImpl"
	  address="/CustomerManagementServiceWrapper" />
          
  <jaxws:endpoint
	  id="resetService"
	  implementor="at.ac.tuwien.infosys.aic.soap.ResetServiceImpl"
	  address="/Reset" />

  <jaxws:endpoint
	  id="registry"
	  implementor="at.ac.tuwien.infosys.aic.registry.ServiceRegistryImpl"
	  address="/Registry"/>
</beans>
